/.env
/.env.*
!/.env.example
/.DS_Store
/config/master.key
/log/*
!/log/.keep
/tmp/*
!/tmp/.keep
!/tmp/pids/
!/tmp/pids/.keep
/frontend/node_modules/
/frontend/*.tsbuildinfo
/frontend/vite.config.js
/frontend/vite.config.d.ts
/public/assets/
/public/index.html
